<template>
  <div>
    “Perfection is achieved, not when there is nothing more to add, but when
    there is nothing left to take away.” - Antoine de Saint-Exupery
  </div>
</template>

<script>
  export default {
    name: 'CodeReview'
  }
</script>
