<template>
  <v-flex class="px-2" xs10 sm10 md4 lg4>
    <v-card dark color="blue">
      <v-card-title>This site was generated with Nuxt.js</v-card-title>
      <v-img :src="nuxtLogo" height="125px" contain/>
      <v-card-text>
        <v-icon>code</v-icon>
        <a :href="repoLink" target="_blank">
          <span>Code is hosted on GitLab.com</span>
        </a>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    name: 'CodeLink',
    data() {
      return {
        repoLink: 'https://gitlab.com/simplesystems/simplesystems',
        nuxtLogo: '/img/nuxtlogo.jpg'
      }
    }
  }
</script>
