<template>
  <v-flex class="px-2" xs10 sm10 md4 lg4 text-xs-center>
    <v-card dark color="blue">
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-card-title primary-title><h1 class="mx-auto">Contact Us</h1></v-card-title>
          <v-card-text style="cursor: pointer;" v-on="on" @click="copyEmail">
            <v-icon>mail_outline</v-icon>
            {{ email }}
          </v-card-text>
        </template>
        <span v-show="!emailCopied">Click to copy!</span>
        <span v-show="emailCopied">Copied to clipboard!</span>
      </v-tooltip>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    name: 'Contact',
    data() {
      return {
        email: 'info@simplesystems.tech',
        emailCopied: false
      }
    },
    methods: {
      copyEmail() {
        navigator.clipboard.writeText(this.email).then(() => {
          this.emailCopied = true
        })
      }
    }
  }
</script>
