<template>
  <v-footer height="auto" color="#333">
    <v-container grid-list-lg xs12 sm11 md4 lg4 xl4>
      <v-layout column>
        <v-flex xs12 sm11 md4 lg4 xl4 align-center justify-center>
          <v-layout align-space-around justify-space-around row wrap>
            <Contact/>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
  import Contact from '../components/contact.vue'
  import CodeLink from './codeLink.vue'

  export default {
    name: 'Footer',
    components: {
      Contact,
      CodeLink
    }
  }
</script>

<style scoped></style>
