<template>
  <v-app id="inspire">
    <v-toolbar dark fixed app>
      <v-spacer/>
      <v-toolbar-title>
        <NuxtLink to="/">Simple Systems, LLC</NuxtLink>
      </v-toolbar-title>
      <v-spacer/>
      <v-toolbar-side-icon @click="drawer = true"></v-toolbar-side-icon>
    </v-toolbar>
    <v-navigation-drawer
      v-model="drawer"
      height="auto"
      fixed
      temporary
      right
      app
    >
      <v-list>
        <v-list-tile @click="drawer = false">
          <v-list-tile-content>
            <v-list-tile-title>Close</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>close</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile v-for="link in validNav" :key="link.title" :to="link.to">
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ link.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <Nuxt></Nuxt>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>
  import Footer from '../components/footer.vue'

  export default {
    components: { Footer },
    data() {
      return {
        drawer: false,
        navLinks: [
          { title: 'Home', icon: 'home', to: '/' },
          { title: 'Services', icon: 'work', to: '/services' },
          // { title: 'Our Process', icon: 'build', to: '/process' },
          // { title: 'Influences', icon: 'build', to: '/influences' },
          { title: 'About', icon: 'info', to: '/about' }
        ]
      }
    },
    computed: {
      validNav() {
        return this.navLinks.filter(l => l.to !== this.$route.path)
      }
    }
  }
</script>

<style scoped>
  a {
    text-decoration: none;
    color: white;
  }
</style>
