<template>
  <app-container>
    <!--
    <v-layout>
      <v-flex xs12 text-xs-center>
        <h1 class="display-3">About</h1>
      </v-flex>
    </v-layout>
    -->

    <v-layout justify-center>
      <v-flex xs12 text-xs-center>
        <p class="display-1">Our mission is to take complex problems and deliver simple solutions.</p>
      </v-flex>
    </v-layout>

    <v-layout justify-center>
      <v-flex xs12 lg8>
        <v-card color="dark" dark height="100%">
          <v-card-text class="about-quote">
            <v-layout fill-height align-center>
              <v-flex>
                <img src="/img/rocket-512.png" width="150">
              </v-flex>
              <v-flex>
                <p class="mb-0">“Any darn fool can make something complex;<br>It takes a genius to make something simple.”</p>
                <br>
                <p class="ml-5">-- Albert Einstein</p>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex>
        <v-divider/>
      </v-flex>
    </v-layout>

    <v-layout wrap>
      <v-flex xs12 text-xs-center>
        <h1 class="display-1">The Team</h1>
      </v-flex>

      <v-flex>
        <v-card>
          <v-container>
            <v-layout wrap>
              <v-flex xs12 md3>
                <img src="/img/jeff-snow.jpg"/>
              </v-flex>
              <v-flex xs12 md9>
                <h1>Jeff</h1>
                <p class="person_desc">My name is Jeff Russo. I am the founder of Simple Systems, LLC. I've been a software engineer for about a decade, and I'm still passionate about it!</p>
                <p class="person_desc">I've worked at several companies in my career. Some were three man startup teams, and some were fortune 50 enterprises. At each job, I learned many things, and now I can apply them to my own company! I pursue excellence in all that I do, and this adventure will be no different.</p>
                <p class="person_desc">The biggest thing I saw at all levels of business was unnecessary complexity. It demoralizes teams and can bring your software to a crashing halt. My mission is to deliver software that is simple, to both the business, and the engineers that have to use it.</p>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>

      </v-flex>
    </v-layout>
  </app-container>
</template>

<script>
  export default {
    components: {
      AppContainer: () => import('@/components/AppContainer.vue')
    }
  }
</script>

<style>
  .about-quote, .person_desc {
    font-size: large;
  }

  .person_desc {
    text-indent: 2.0em;
  }
</style>
