<template>
  <section>
    <v-container class="jumbotron" fluid>
      <v-layout justify-center>
        <v-flex lg10 xl7 xs12>
          <v-layout wrap align-center justify-center class="jumbotron-content">
            <v-flex v-show="!this.$vuetify.breakpoint.smAndDown" xs12 lg6 text-xs-center class="heading">
              <h1>Simple</h1>
              <h1>Systems</h1>
            </v-flex>

            <v-flex xs12 sm9 md7 lg6 text-xs-center>
              <v-card class="pa-2" color="dark" dark>
                <v-card-text class="main-quote">
                  <v-icon large>code</v-icon>
                  <p class="mb-0">We build software that businesses understand and engineers want to use.</p>
                </v-card-text>

                <v-divider class="mb-3 mx-auto" style="width: 75%;"></v-divider>

                <v-btn color="blue" href="mailto:info@simplesystems.tech" target="_blank">
                  <v-icon color="white" class="mr-2">mail_outline</v-icon>
                  Email us: info@simplesystems.tech
                </v-btn>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <app-container class="text-xs-center">
      <v-layout>
        <v-flex>
          <h1 class="desc">Software Should be Simple</h1>
          <v-divider class="mt-3 mx-auto" width="50%"/>
        </v-flex>
      </v-layout>
      <v-layout wrap justify-center>
        <v-flex v-for="item in ssAttrs" :key="item.icon" xs12 sm8 md6>
          <v-card class="simpleAttr py-3" height="100%">
            <img :src="item.icon" height="100" width="100" class="mt-3 mx-auto"/>

            <v-card-title class="pb-0">
              <h2 class="mx-auto font-weight-medium">{{ item.headline }}</h2>
            </v-card-title>

            <v-card-text class="grow attr_desc" style="color: #555;">
              {{ item.desc }}
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </app-container>
  </section>
</template>

<script>
  export default {
    components: {
      AppContainer: () => import('@/components/AppContainer.vue')
    },
    data() {
      return {
        ssAttrs: [
          {
            headline: 'Comprehensible Interaction',
            icon: '/img/icon-interact.png',
            desc: 'The interface to software should be clear without surprises.  Engineers working on the project should not be deciphering other engineers\' code.  Documentation is implied as part of the system, enabling all users to understand the software package better.'
          },
          {
            headline: 'Straightforward Modification',
            icon: '/img/icon-build.png',
            desc: 'Software should handle changes smoothly.  Great software feels like it was designed for future changes.  The documentation will instruct an engineer\'s strategy, removing ambiguity of how something works.'
          },
          {
            headline: 'Robust',
            icon: '/img/icon-robust.png',
            desc: 'Load spikes, accidental misuse, and business growth should not bring software crashing to the ground.  Systems should be designed to handle faults gracefully.  If there are errors, they should be reported clearly.'
          },
          {
            headline: 'Leveraged by Other Systems',
            icon: '/img/icon-leverage.png',
            desc: 'When software simply does its job, and does it well, it will be an asset to other systems.  When software becomes convoluted, it will hinder other systems.'
          }
        ]
      }
    }
  }
</script>

<style>
  .jumbotron {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: linear-gradient(to bottom, rgba(25, 25, 25, 0.25), rgba(250, 250, 250, 0.75)), url(/img/background-gray.png) center center no-repeat;
  }

  .jumbotron h1 {
    font-size: 5rem;
  }

  .jumbotron-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .main-quote {
    font-size: 1.75rem;
  }

  .simpleAttr {
    display: flex;
    flex-direction: column;
  }

  .attr_desc {
    font-size: medium;
  }

  * {
    text-transform: none;
  }

  @media (max-width: 960px) {
    .jumbotron {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  @media (max-width: 1264px) {
    .jumbotron .heading {
      margin-bottom: 4rem;
    }
  }
</style>
