<template>
  <v-layout>
    <div>
      Here are the influences
      <p>“Any darn fool can make something complex; It takes a genius to make something simple” - Albert Einstein</p>
    </div>
  </v-layout>
</template>
